@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop_scroll {
    height: 100%;
    overflow: hidden;

}

.board_wrap {
    padding: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 3px rgb(107 70 186);
    border-radius: 30px;
}

.guestbook {
    width: 900px;
    height: 150px;
    margin: 20px auto auto auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px rgb(107 70 186);
}

.guestbook_nickname {
    color: #6b46ba;
}

.solid {
    border: 1px solid red;
}

.margin_auto {
    margin: auto;
}

body {
    background-image: url("../../images/space4.png");
    background-size: cover;
    background-position: center;
}

.main_box {
    width: 1000px;
    margin: 30px auto 30px auto;
    min-height: 100vh;
}

.profile_data {
    display: flex;
}

.furniture {
    background-image: url('../../images/room1.png');
    background-size: cover;
    width: 600px;
    height: 500px;
    margin: auto;
    position: relative;
}

.guestbook_text {
    width: 900px;
    margin: 30px auto auto auto;
    font-size: 20px;
}

.guestbook_button {
    float: right;
}

.guestbook_delete {
    float: right;
    margin: 7px;
    border: 0px;
}

.guestbook_user {
    padding: 10px 10px 0px 10px;
    font-size: 15px;
}

.guestbook_data {
    padding: 10px;
    font-size: 18px;
    color: #6b46ba;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_box {
    position: absolute;
    background-color: #fff;
    width: 600px;
    height: 350px;
    border: solid 2px black;
    border-radius: 10px;
}

.modal_box button {
    display: block;
    margin: 0 auto;
}

.content {
    width: 580px;
    height: 200px;
    margin-left: 9px;
    resize: none;
    overflow: auto;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.btn_set {
    display: flex;
    justify-content: center;
}

#cursor {
    position: absolute;
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
}

.btn_furniture {
    border: solid 2px rgb(107 70 186);
    background-color: rgb(104, 74, 179, 0.6);
    margin-top: 10px;
}

.btn_like.done {
    color: inherit;
}

.btn_like {
    width: 30px;
    background-color: transparent;
    color: transparent;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

.furniture_btn {
    border: 0px;
    margin: 3px;
    float: right;
}

.modal_btn {
    margin: 5px;
}

.furniture_div {
    width: 150px;
    display: inline-block;
    margin: auto;
}

.main_data_box {
    max-width: 900px;
    margin: 100px auto 100px auto;
    display: flex;
}

.profile_wrap {
    min-width: 200px;
    min-height: 100px;
    background-color: rgb(104, 74, 179, 0.3);
    border-radius: 30px;
    border: solid 2px rgb(107 70 186);
}

.profile_portrait {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.profile_name {
    margin: auto;
    font-weight: bold;
    /* color: black; */
}

.my_profile {
    text-align: center;
    font-size: 10px;
    color: white;
}

.my_profile_name {
    text-align: center;
    font-size: 10px;
    margin: 10px 0px 0px 0px;
}

.likes_follows {
    margin: auto;
    font-size: 12px;
    color: white;
}

.likes_follows_wrap {
    width: 90%;
    height: 30px;
    margin: 10px auto auto auto;
    background-color: rgb(104, 74, 179, 0.3);
    border: solid 2px rgb(107 70 186);
    border-radius: 10px;
}

.follow_profile_wrap {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px rgb(107 70 186);
    margin: 5px auto auto auto;
}

.follow_profile_portrait {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: auto 0px auto 2px;
}

.follow_profile_name {
    margin: auto auto auto 10px;
    font-weight: bold;
    color: #6b46ba;
    font-size: 13px;
}

.guest_book_box {
    max-height: 700px;
    width: 940px;
    overflow: auto;
    margin: auto;
}

.guest_book_box::-webkit-scrollbar {
    width: 10px;
}

*,
:after,
:before {
    box-sizing: border-box
}

.tag_user_wrap {
    width: 100%;
    height: 350px;
    margin: auto;
    overflow: auto;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    background: rgb(104, 74, 179, 0.3);
    border: solid 2px rgb(107 70 186);
    border-radius: 30px;
}

.tag_user_wrap::-webkit-scrollbar {
    width: 10px;
}

.tag_html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
}

.tag_html .like_user_htm,
.tag_html .follower_user_htm,
.tag_html .follow_user_htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.tag_html .like,
.tag_html .follower,
.tag_html .follow,
.tag_form .check {
    display: none;
}

.tag_html .tab,
.tag_form .label,
.tag_form .button {
    text-transform: uppercase;
}

.tag_html .tab {
    font-size: 12px;
    color: #fff;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.tag_html .like:checked+.tab,
.tag_html .follower:checked+.tab,
.tag_html .follow:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.tag_form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.tag_form {
    margin-bottom: 15px;
}

.tag_form .label,
.tag_form .input,
.tag_form .button {
    width: 100%;
    color: #fff;
    display: block;
}

.tag_form .input,
.tag_form .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.tag_form .label {
    color: #aaa;
    font-size: 12px;
}

.tag_form .button {
    background: #1161ee;
}

.tag_form label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.tag_form label .icon:before,
.tag_form label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.tag_form label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.tag_form label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.tag_form .check:checked+label {
    color: #fff;
}

.tag_form .check:checked+label .icon {
    background: #1161ee;
}

.tag_form .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.tag_form .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.tag_html .like:checked+.tab+.follower+.tab+.follow+.tab+.tag_form .like_user_htm {
    transform: rotate(0);
}

.tag_html .follower:checked+.tab+.follow+.tab+.tag_form .follower_user_htm {
    transform: rotate(0);
}

.tag_html .follow:checked+.tab+.tag_form .follow_user_htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}
.card {
    border: none;
}

.resident_card_wrap {
    width: 516px;
    height: 324px;
    border-radius: 10px !important;
}

.resident_profile_portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.resident_card_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.resident_card_btn {
    background-color: transparent;
    border: 0;
    float: right;
}