.solid {
    border: 1px solid red;
}

body {
    background-image: url("../../images/space4.png");
    background-size: cover;
    background-position: center;
}

.main-box {
    width: 1000px;
    height: 1200px;
    margin: 30px auto auto auto;
}

.main-data {
    width: 950px;
    height: 700px;
    padding-top: 10px;

    margin: auto;
    background-color: white;
}

.logo {
    width: 200px;
    height: 100px;
    margin: auto auto 50px auto;
    background-color: grey;

}

.frofile-data {
    display: flex;
}

.furniture {
    width: 600px;
    height: 500px;
    margin: auto;
    background-color: grey;

}

.profile {
    width: 200px;
    height: 150px;
    border-radius: 15%;
    background-color: grey;
    margin-right: 15px;
}

.profile-portrait {
    width: 80px;
    height: 80px;
    margin: 15px auto auto auto;
    border-radius: 50%;
    background-color: white;
}

.profile-name {
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.my-profile {
    text-align: center;
    font-size: 12px;
}

.guestbook-hr {
    margin: 35px auto 35px auto;
    width: 1000px;
    height: 2px;
    border: 0;
    /* opacity: initial; */
    background-color: grey;
}

.guestbook_text {
    width: 900px;
    margin: 15px auto auto auto;
    font-size: 20px;
}

.guestbook_button {
    float: right;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: solid 0.5px;

}

.guestbook {
    width: 900px;
    height: 150px;
    margin: 20px auto auto auto;
    background-color: white;
}

.guestbook_delete {
    float: right;
    border-radius: 10px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 5px;
    border: solid 0.5px;
    font-size: 16px;
    font-weight: bold;
    /* background-color: white; */
}

.guestbook_user{
    padding: 10px 10px 0px 10px;
    font-size: 15px;
}

.guestbook_data{
    padding: 10px;
    font-size: 18px;
}





.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_box {
    position: absolute;
    background-color: #fff;
    width: 600px;
    height: 350px;
    border: solid 2px black;
}

.modal_box button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.content {
    width: 580px;
    height: 200px;
    margin-left: 7px;
    border: solid 1px black;
    resize: none;
    overflow: auto;
    font-size: 20px;
}

.btn_set{
    display: flex;
    justify-content: center;
}

/* 백그라운드 이미지 */
/* height: 100vh;
background-size: cover;
color: #2847ff;
font: 600 16px/18px 'Open Sans', sans-serif;
overflow-y: hidden; */


/* .modal .bgg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */

/* button {
    background-color: #F9B514;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  } */