body {
    background-image: url("../../../images/bg-space.png");
    background-size: cover;
    background-position: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  planets  */
.sun {
    background-image: url("../../../images/sun.png");
    background-size: cover;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: -25vh;
    left: -55vh;
    z-index: -1;
}

.mercury {
    background-image: url("../../../images/mercury.png");
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45vh;
    left: 45vh;
}

.venus {
    background-image: url("../../../images/venus.png");
    background-size: cover;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 47vh;
    left: 52vh;
}

.earth {
    background-image: url("../../../images/earth.png");
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50vh;
    left: 62vh;
}

.mars {
    background-image: url("../../../images/mars.png");
    background-size: cover;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 55vh;
    left: 75vh;
}

.jupiter {
    background-image: url("../../../images/jupiter.png");
    background-size: cover;
    position: absolute;
    width: 170px;
    height: 175px;
    top: 56vh;
    left: 90vh;
}

.saturn {
    background-image: url("../../../images/saturn.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 62vh;
    left: 115vh;
}

.uranus {
    background-image: url("../../../images/uranus.png");
    background-size: cover;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 79vh;
    left: 148vh;
}

.neptune {
    background-image: url("../../../images/neptune.png");
    background-size: cover;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 86vh;
    left: 170vh;
}

.scale:hover {
    transform: scale(1.4);
}